# Copyright 2019-2026 Cyface GmbH
#
# This file is part of the RadSim Translation Model.
#
# The RadSim Translation Model is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# The RadSim Translation Model is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with the RadSim Translation Model. If not, see <http://www.gnu.org/licenses/>.

#######################################################################
#
# This workflow ensures the building steps work
#
# @author Armin Schnabel
name: Gradle Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# Fallback: explicit workflow permissions (as little as required)
permissions:
  contents: read    # does not require private or external private packages

jobs:
  build:
    # Only for pushes (assumes protected main branch) and for PRs from this repo (not from forks)
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest

    steps:
      - name: Checkout commit
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Build with Gradle
        run: ./gradlew build
        env:
          USERNAME: ${{ github.actor }}
          PASSWORD: ${{ secrets.GITHUB_TOKEN }}
