# Copyright 2019-2026 Cyface GmbH
#
# This file is part of the RadSim Translation Model.
#
# The RadSim Translation Model is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# The RadSim Translation Model is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with the RadSim Translation Model. If not, see <http://www.gnu.org/licenses/>.

#######################################################################
#
# This workflow publishes a new version to the GitHub Registry.
#
# @author Armin Schnabel
name: Gradle Publish

on:
  push:
    tags:
      - '[0-9]*.[0-9]*.[0-9]*' # glob not reg-ex
      - '[0-9]*.[0-9]*.[0-9]*-*'

# Explicit workflow permissions
permissions:
  contents: write    # to create a release
  packages: write    # to publish packages

jobs:
  publish:
    # No if-protection needed: write permission needed to push tags, not allowed for forks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout commit
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17

      # version is required to publish artifacts to GitHub Registry
      - name: Set version
        run: |
          sed -i "s/version = \"0.0.0\"/version = \"${{ github.ref_name }}\"/g" build.gradle.kts

      # Publish slim JARS to GitHub Package Registry
      - name: Publish package
        run: ./gradlew publish
        env:
          USERNAME: ${{ github.actor }}
          PASSWORD: ${{ secrets.GITHUB_TOKEN }}

      # Automatically mark this tag as release on GitHub (requires actions/checkout@v6)
      - name: Mark tag as release on Github
        if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
        run: |
          gh release create "${{ github.ref_name }}" \
            --title "${{ github.ref_name }}" \
            --notes "$(git tag -l --format='%(contents)' "${{ github.ref_name }}")" \
            ${{ (contains(github.ref, 'test') || contains(github.ref, 'alpha') || contains(github.ref, 'beta')) && '--prerelease' || '' }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
